[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
pytest-asyncio = "*"
pytest = "*"
pytest-playwright = "*"
allure-pytest = "*"

[dev-packages]

[requires]
python_version = "3.13"
